// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #7A56AB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$real-blue: #1F487E;
$lavender: #E5D0E3;
$light-blue: #6D9DC5;
$lime-green: #6BD425;
$celadon: #93E5AB;
$ocean-green: #65B891;
$smokey-black: #090C02;
