// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #7A56AB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$lavender: #E5D0E3;
$piggy-pink: #ffd6de;
$carmine: #ca054d;
$celadon: #93E5AB;
$ocean-green: #65B891;
$lime-green: #6BD425;
$smokey-black: #090C02;

$aero-blue: #c2ffe4;
$lavender-web: #e1e5f2;
$light-blue: #6D9DC5;
$maya-blue: #7cc0f3;
$celtic-blue: #3070c5;
$real-blue: #1F487E;
$granny-smith-apple: #99EBA8;
$medium-spring-green: #1FFF9A;
$medium-sea-green :#00B865;
$main-bottle-green: #0B6F53;
$viridian-green: #0FA3B1;
