.about-body {
  background-color: #0B6F53;
  display: flex;
  justify-content: center;
}

.about-card {
  background: white;
  border-radius: 30px;
  box-shadow: 0px 3px 6px #6f6f6f;
  margin: 10px 0px 10px 0px;
  width: 95%;
}

.about-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

.about-headers {
  color: #0B6F53;
  font-weight: bold;
  margin: 30px 0px 15px 0px;
  text-align: center;
}

.about-project p {
  margin: 20px 40px 15px 40px;
  text-align: center;
}

.card-product {
  display: flex;
  height: 125px;
  background: white;
  box-shadow: 1px 3px 5px #0b6f53;
  border-radius: 50px 0 50px 0;
  margin: 28px;
  margin-top: 0px;
  overflow: hidden;
}

.card1 {
  margin-top: 2rem;
}

.card-product img {
  height: 100%;
  width: 130px;
  object-fit: cover;
}

.card-product h2 {
  color: #0B6F53;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  color: #090C02;
  font-size: 14px;
  line-height: 1.3;
  margin-top: 8px;
}

.our-github {
  color: #0B6F53;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 10px;
  text-decoration: none;
}

.fa-github {
  color: black;
  font-size: 7rem;
}
