.favourites-body {
  background-color: #0B6F53;
  display: flex;
  justify-content: center;
}

.favourites-card {
  background: white;
  border-radius: 30px;
  box-shadow: 0px 3px 6px #6f6f6f;
  margin: 10px 0px 10px 0px;
  width: 95%;
}

.favourites-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

.favourites-categories {
  color: grey;
  font-size: 1rem;
  font-weight: bold;
}

.favourites-numbers {
  font-size: 30px;
}

.target-chart {
  height: 250px;
  border-radius: 8px;
  width: 90%;
  margin-bottom: 2rem;
}

.actions-header {
  display: flex;
  justify-content: space-between;
  margin: 0 28px 14px 28px;
}

.actions-header h4 {
  font-weight: bold;
}

.saved-ideas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  margin: 10px 14px;
}

.fa-comments {
  color: #1F487E;
}

.card-target {
  display: flex;
  align-items: center;
  height: 200px;
  background: white;
  box-shadow: 2px 6px 6px #6f6f6f;
  border-radius: 8px;
  margin: 3px;
  margin-bottom: 10px;
}

.card-target-sideimg {
  height: 100%;
  width: 70px;
  object-fit: cover;
  border-radius: 4px;
  background-position: center;
}

.card-target h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-target p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-target .card-target-infos {
  padding: 16px;
  text-align: left;
  width: 100%;
}
