.results-body {
  background-color: #0B6F53;
  display: flex;
  justify-content: center;
}

.results-card {
  background: white;
  border-radius: 30px;
  box-shadow: 0px 3px 6px #6f6f6f;
  margin: 10px 0px 10px 0px;
  width: 95%;
}

.results-title {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: -10px;
}

.KPI-titles {
  width: 245px;
}

.KPI-title {
  color: grey;
  font-size: 1rem;
  font-weight: bold;
}

.KPI {
  color: #3070c5;
  font-size: 2.5rem;
  font-weight: bold;
}

.target-weighted {
  color: #0B6F53;
  font-size: 2.5rem;
  font-weight: bold;
}

.info-symbol {
  height: 25px;
  width: 25px;
}

.tooltip-1 {
  position: absolute;
  bottom: 80%;
  right: 3%;
}

.tooltip-2 {
  position: absolute;
  bottom: -101%;
  right: 3%;
  z-index: 2;
}

.tooltip-3 {
  position: absolute;
  bottom: 36%;
  right: 3%;
  z-index: 2;
}

.tooltip-1:hover .tooltip-text {
  visibility: visible;
}

.tooltip-2:hover .tooltip-text {
  visibility: visible;
}

.tooltip-3:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 280px;
  color: white;
  font-size: 14px;
  background-color : rgba($color: #000000, $alpha: 0.8);
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  line-height: 30px;
}

.info-position {
  right: 120%;
}
