.signup-body {
  background-color: #0B6F53;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title {
  color: white;
  margin-top: 1.5rem;
  margin-bottom: -15px;
}

.signup-title h4 {
  font-size: 18px;
}

.form-label {
  margin-left: 1rem;
  margin-right: 1rem;
}

.signup-card {
  background-color: white;
  border-radius: 30px;
  box-shadow: 2px 6px 6px #6f6f6f;
  margin: 1rem;
  padding: 1rem;
  width: 90%;
  height: 100%;
  margin-left: 1.3rem;

  .form-control {
    border-radius: 5px;
    height: 47px;
    width: 90%;
    margin-left: 15px !important;
    margin-bottom: 20px;
  }
}

.form-text {
  margin-left: 1rem;
}
