.survey-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

.survey-card {
  background: white;
  border-radius: 30px;
  box-shadow: 0px 3px 6px #6f6f6f;
  margin: 10px 0px 10px 0px;
  width: 95%;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 4rem 0 4rem;
}

.fa-solid {
  font-size: 1rem;
  background:  #dfe0e0;
  border-radius: 50%;
  color: white;
  padding: 10px;
  height: 40px;
  width: 40px;
}

.fa-user {
  padding-left: 13px;
}

.current {
  background: #3070c5;
}

.question {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0 20px 0;
}

.form-control{
  height: 56px;
  width: 90%;
  border-radius: 30px;
  margin-bottom: 60px;
}

.slicer {
  display: flex;
  flex-direction: row;
}

.slider {
  -webkit-appearance: none;
  height: 35px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #6D9DC5;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #6D9DC5;
  cursor: pointer;
}

.slider-question {
  padding-bottom: 35px;
}

#demo {
  font-size: 18px;
  font-weight: bold;
}

.button-container {
  position: relative;
  width: 70vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  overflow: hidden;
  transition: 0.5s;
  background: #a2d696, ;
  border-radius: 10vw;
  font-size: 6vw;
}

// .button-container button {
//   width: 101%;
//   height: 100%;
//   font-size: 6vw;
//   background: #111718;
//   -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
//   mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
//   -webkit-mask-size: 2300% 100%;
//   mask-size: 2300% 100%;
//   border: none;
//   color: white;
//   cursor: pointer;
//   animation: anim2 0.7s steps(22) forwards;
//   background-color: black;
// }

// .button-container button:hover {
//   animation: anim1 0.7s steps(22) forwards;
//   color: rgb(195, 191, 191);
//   background-color: black;
// }

.mask {
  position: absolute;
  color:  rgb(47, 45, 45);
  text-align: center;
  width: 101%;
  font-weight: lighter;
  font-size: 6vw;
  margin-top: 7vw;
  overflow: hidden;
}


@keyframes anim1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes anim2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

#button-survey-results {
  margin-top: -32px;
  margin-bottom: 14px;
}
