  <% if @refresh%>
    <div id="refresh" style="display: none;" data-refresh="<%= @refresh %>"></div>
  <% end %>

  <form class ="d-flex justify-content-center" style="background: #0B6F53;" action="/results">

      <div class="survey-card row">
        <h1 class="survey-title pb-2"> Profile your lifestyle </h1>

          <p class="text-center px-4 pb-4">Answer the following questions so we can assess your carbon footprint and help you reduce your Co2 impact!</p>

          <div class="icons-container">
            <i class="fa-solid fa-user current"></i>
            <i class="fa-solid fa-car-side"></i>
            <i class="fa-solid fa-utensils"></i>
            <i class="fa-solid fa-house-chimney"></i>
            <i class="fa-solid fa-champagne-glasses"></i>
          </div>

        <h2 class="question px-4"> Where do you live?</h2>

        <div class="form-group d-flex justify-content-center">
          <select class="form-control" id="country" name="country" >
            <option value="" disabled selected> Select your country</option>
            <% ApplicationRecord::COUNTRIES.each do |country|%>
              <option value="<%= country %>" > <%=country %> </option>
            <% end %>
          </select>
        </div>

        <div class="icons-container">
          <i class="fa-solid fa-user "></i>
          <i class="fa-solid fa-car-side current"></i>
          <i class="fa-solid fa-utensils"></i>
          <i class="fa-solid fa-house-chimney"></i>
          <i class="fa-solid fa-champagne-glasses"></i>
        </div>

        <h2 class="question px-4"> How do you usually travel to work or school?</h2>

        <div class="form-group d-flex justify-content-center">

           <select class="form-control" id="work" name="work">
                <option value="" disabled selected>Select...</option>

                <option value="car">Car</option>
                <option value="electrical_car">Electric Car</option>
                <option value="public_transport">Public Transport</option>
                <option value="bike">Bike</option>
                <option value="foot">Walk</option>
            </select>
        </div>

        <div class="icons-container">
          <i class="fa-solid fa-user "></i>
          <i class="fa-solid fa-car-side current"></i>
          <i class="fa-solid fa-utensils"></i>
          <i class="fa-solid fa-house-chimney"></i>
          <i class="fa-solid fa-champagne-glasses"></i>
        </div>

        <h2 class="question px-4"> How many flights do you take per year?</h2>

        <div class="form-group d-flex justify-content-center">
          <select class="form-control" id="flght" name="flight">
                <option value="" disabled selected>Select...</option>
                <option value="1flight">1 flight</option>
                <option value="2_3flights">2-3 flights</option>
                <option value="4_6flights">4-6 flights</option>
                <option value="more6flights">More than 6 flights</option>
          </select>
        </div>

        <div class="icons-container">
          <i class="fa-solid fa-user "></i>
          <i class="fa-solid fa-car-side "></i>
          <i class="fa-solid fa-utensils current"></i>
          <i class="fa-solid fa-house-chimney"></i>
          <i class="fa-solid fa-champagne-glasses"></i>
        </div>

        <h2 class="question px-4"> What do you eat for dinner most often?</h2>

        <div class="form-group d-flex justify-content-center">
          <select class="form-control" id="food" name="food">
                <option value="" disabled selected>Select...</option>
                <option value="beef">Red meat</option>
                <option value="pork_poultry">White meat</option>
                <option value="fish">Fish</option>
                <option value="vegetables">Vegetarian</option>
          </select>
        </div>

        <div class="icons-container">
          <i class="fa-solid fa-user "></i>
          <i class="fa-solid fa-car-side "></i>
          <i class="fa-solid fa-utensils "></i>
          <i class="fa-solid fa-house-chimney current"></i>
          <i class="fa-solid fa-champagne-glasses"></i>
        </div>

        <h2 class="question px-4">What temperature is your home in winter?</h2>

        <div class="d-flex justify-content-center mb-3">
          <input type="range" min="16" max="25" value="20" class="slider" id="myRange" name="myrange">
        </div>

        <div class="slider-question d-flex justify-content-center">
          <p class="text-center"><span id="demo"></span> Degrees</p>
        </div>

        <div class="icons-container">
          <i class="fa-solid fa-user "></i>
          <i class="fa-solid fa-car-side "></i>
          <i class="fa-solid fa-utensils "></i>
          <i class="fa-solid fa-house-chimney"></i>
          <i class="fa-solid fa-champagne-glasses current"></i>
        </div>

        <h2 class="question px-4"> How do you typically spend your free time?</h2>

        <div class="form-group d-flex justify-content-center">
          <select class="form-control" id="leisure" name="leisure">
            <option value="" disabled selected>Select...</option>
            <option value="chilling">Relaxing at home</option>
            <option value="hanging_out">Hanging with friends </option>
            <option value="shopping">Going shopping</option>
            <option value="chilling">Reading books</option>
            <option value="sports">Playing sports</option>
            <option value="sports">Arts and crafts</option>
            <option value="traveling">Traveling</option>
          </select>
        </div>

      <div class="container button-survey-results" >
        <button class="btn btn-gradient" type="submit" name="Hover">Get Your Results!</button>
      </div>

  </form>
</div>
