.chatroom-body {
  background-color: #0B6F53;
  display: flex;
  justify-content: center;
}

.chatroom-card {
  background: white;
  border-radius: 30px;
  box-shadow: 0px 3px 6px #6f6f6f;
  margin: 10px 0px 10px 0px;
  width: 95%;
}

.chatroom-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

.new-message-container {
  width: 100%;
  margin-bottom: -18px;
}

.card-idea {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  transition: .3s;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.card-idea:hover {
  transform: scale(1.03);
}

.card-product img {
  height: 50px;
  width: 20px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-right: 5px;
}
