.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .navbar h1{
//   font-family: 'Rubik Microbe', cursive;
//   margin-top: -3.5rem;}

.avatarimg {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  z-index: 100;
  margin-top: -27px;
}

.dropdown {
  display: none;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  position: absolute;
  right: 0px;
  top: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  width: 10rem;
  z-index: 100;
}

.dropdown-item {
  z-index: 100;
  font-size: 1rem;
  padding: 8px;
}

// .dropdown-item-last {
//   margin-bottom: 10px;
//   z-index: 100;
//   font-size: 5vw;
//   padding-top: 3vh ;
//   text-align: center;
// }

.dropimg {
  position: relative;
}

.logo-text {
  display: flex;
  align-items: center;
  color:#0B6F53;
  font-family: 'Wendy One', sans-serif;
  font-size: 30px;
  margin-top: -7px;
}

.logo-image {
  height: 23px;
  width: 23px;
  margin-right: 3px;
  padding-bottom: 2.8px;
}
