.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .navbar h1{
//   font-family: 'Rubik Microbe', cursive;
//   margin-top: -3.5rem;}

.avatarimg {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  z-index: 100;
  margin-top: -27px;
}

.dropdown {
  display: none;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  position: absolute;
  right: 0px;
  top: 50px;
  height: fit-content;
  z-index: 100;
  font-size: 3vw;
  width: 48vw;
}

.dropdown-item {
  margin-bottom: 14px;
  z-index: 100;
  font-size: 5vw;
  padding-top: 3vh ;
  text-align: center;
}

.dropdown-item-last {
  margin-bottom: 10px;
  z-index: 100;
  font-size: 5vw;
  padding-top: 3vh ;
  text-align: center;
}

.dropimg {
  position: relative;
}

.logo-text {
  display: flex;
  align-items: center;
  color:#0B6F53;
  font-family: 'Wendy One', sans-serif;
  font-size: 35px;
  margin-top: -7px;
}

.logo-image {
  height: 25px;
  width: 25px;
  margin-right: 3px;
  padding-bottom: 2.8px;
}
