.ideas-form {
  margin: 2px;
  padding: 2px;
}

.search-btn {
  width: 90px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #313133;
  background-color: #00B865;
  border: none;
  border-radius: 40px;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.search-btn:hover {
  color: white;
  background: #00cc70;
  border: 1px solid #00cc70;
}

.search-control {
  width: 70%;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 5px 10px;
  margin-right: 10px;
}
