// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries

@import "font-awesome";

@import "bootstrap/scss/bootstrap";

// Your CSS partials
@import "components/index";
@import "pages/home";
@import "pages/index";

@import "pages/survey";

@import "components/navbar";
@import "components/cards";
@import "components/btn";
@import "pages/favindex";
@import "pages/about";
@import "ideas/index";
@import "pages/ideaform";

body {
  color: #090C02;
  background: #0B6F53;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  max-width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

.body-width {
  max-width: 435px;
}

// button:active {
//   outline: none;
//   border: none;
// }
